html,body,#root,#root >div{
  height: 100%;
}
/* header */
#header {
  height: 64px;
  /* background-color: #000; */
  border-bottom: 1px solid gray;
}
/* body */
#body {
  width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 24px;
  /* background-color: blue; */
}
/* footer */
#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}